body, html {
  font-family: Raleway,sans-serif;
}

nav {
  height: 143px;
  background-color: #FFF;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: #F4F7F9;
}

.page-footer {
  background-color: #EE4123;
}

.title{
  color: #EE4123;
}


#map {
  height: 400px;
  width: 600px;
}

.select {
  margin-top: 2%;
}

.error-msg {
  color: red;
  font-weight: 900;
  margin-left: 2%;
}
